:root {
  --green: #55c54d;
  --sgreen: #d9fdd9;
  --sgray: #d2d2d2;
  --dgray: #949494;
  --fgray: #efeeee;
  --dblue: #080892;
  --lblue: #74d7e6;
}

.container {
  font-size: 10px;
  font-family: arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  max-width: 90vw;
  margin: 0 auto;
  border: 1px solid var(--sgray);
}

.container input {
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--lblue);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: var(--dblue);
}

.container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .buttons button {
  width: 100%;
  height: 25px;
  max-width: 75px;
  border-radius: 4px;
  margin: 0.5rem;
  border: 1px solid var(--dgray);
}

.container .buttons button.btn, .container .buttons button.solve {
  background-color: var(--green);
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.container .buttons button.clr {
  background-color: var(--dgray);
  color: white;
  font-size: 0.9rem;
}

.container .containerList {
  min-height: 9rem;
  max-height: 100%;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .containerList .coded {
  position: relative;
  width: 75px;
  height: 75px;
  border: 1px solid var(--fgray);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--dblue);
}

.container .containerList .coded .alpha {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--dgray);
  text-transform: capitalize;
  font-size: initial;
}

.container #result {
  font-weight: bold;
  color: var(--green);
  font-size: 2rem;
  padding: 1rem;
  border: 0;
  border-bottom: 2px dashed var(--green);
}

.container .hr {
  border: 0;
  border-top: 1px solid var(--sgreen);
  width: 50%;
  height: 1px;
  margin: 2rem;
}

.container .clearance {
  width: 5.5rem;
  height: 1.7rem;
  border-radius: 4px;
}

.container .comm {
  margin: 1rem 0 .5rem;
  font-size: .8rem;
  text-align: left;
  width: 100%;
  max-width: 300px;
  color: var(--dgray);
}
/*# sourceMappingURL=style.css.map */