:root {
  --green: #55c54d;
  --sgreen: #d9fdd9;
  --sgray: #d2d2d2;
  --dgray: #949494;
  --fgray: #efeeee;
  --dblue: #080892;
  --lblue: #74d7e6;
}

.container {
  font-size: 10px;
  font-family:arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 90vw;
  margin: 0 auto;
  border:1px solid var(--sgray);
  input {
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--lblue);
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: var(--dblue);
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      width: 100%;
      height: 25px;
      max-width: 75px;
      border-radius: 4px;
      margin: 0.5rem;
      border: 1px solid var(--dgray);
      &.btn, &.solve {
        background-color: var(--green);
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }
      &.clr {
        background-color: var(--dgray);
        color: white;
        font-size: 0.9rem;
      }
    }
  }

  .containerList {
    min-height: 9rem;
    max-height: 100%;
    padding-top: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    .coded {
      position: relative;
      width: 75px;
      height: 75px;
      border: 1px solid var(--fgray);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: capitalize;
      font-size: 1.5rem;
      color: var(--dblue);
      .alpha {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--dgray);
        text-transform: capitalize;
        font-size: initial;
      }
    }
  }
  #result {
    font-weight: bold;
    color: var(--green);
    font-size: 2rem;
    padding: 1rem;
    border:0;
    border-bottom: 2px dashed var(--green);
  }
  .hr {
    border: 0;
    border-top: 1px solid var(--sgreen);
    width: 50%;
    height: 1px;
    margin: 2rem;
  }
  .clearance {
    width: 5.5rem;
    height: 1.7rem;
    border-radius: 4px;
  }
  .comm{
    margin:1rem 0 .5rem;
    font-size:.8rem;
    text-align:left;
    width:100%;
    max-width:300px;
    color: var(--dgray);
  }
}
