.container {
  font-size: 10px;
  font-family:arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  input {
    width: 100%;
    max-width: 300px;
    border: 1px solid #74d7e6;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: #404eb3;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      width: 100%;
      height: 25px;
      max-width: 75px;
      border-radius: 4px;
      margin: 0.5rem;
      border: 1px solid #999;
      &.btn, &.solve {
        background-color: #55c54d;
        color: white;
        font-weight: bold;
        font-size: 1rem;
      }
      &.clr {
        background-color: #949494;
        color: white;
        font-size: 0.9rem;
      }
    }
  }

  .containerList {
    padding-top: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    .coded {
      position: relative;
      width: 75px;
      height: 75px;
      border: 1px solid #fbfbfb;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: capitalize;
      font-size: 1.5rem;
      color: #080892;
      .alpha {
        position: absolute;
        top: 0;
        right: 0;
        color: #a1a1a1;
        text-transform: capitalize;
        font-size: initial;
      }
    }
  }
  #result {
    font-weight: bold;
    color: #55c54d;
    font-size: 2rem;
    padding: 1rem;
    border:0;
    border-bottom: 2px dashed #55c54d;
  }
  .hr {
    border: 0;
    border-top: 1px solid #d9fdd9;
    width: 50%;
    height: 1px;
    margin: 2rem;
  }
  .clearance {
    width: 5.5rem;
    height: 1.7rem;
    border-radius: 4px;
  }
  .comm{
    margin:1rem 0 .5rem;
    font-size:.8rem;
    text-align:left;
    width:100%;
    max-width:300px;
  }
}
